body
{
    background-color: dimgrey;
}

.container
{
    width: 800px;
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
    background-color: white;
}

.cabecera
{
    background-color: coral;
    size: 20px;
    font-size: 2em;
    font-weight: bold;
    margin: auto;
    padding: 10px;
}